{
    "env": {
        "mocha": true,
        "es2020": true
    },
    "plugins": [
        "mocha"
    ],
    "extends": [
        "../.eslintrc",
        "plugin:mocha/recommended"
    ],
    "rules": {
        "mocha/no-hooks-for-single-case": "off",
        "mocha/no-setup-in-describe": "off",
        "camelcase": "off",
        "max-len": ["warn", 130],
        "mocha/prefer-arrow-callback": ["error", {
            "allowNamedFunctions": true
        }]
    },
    "parserOptions": {
        "ecmaVersion": 2018
    }
}
