{
    "env": {
        "mocha": true,
        "es2020": true
    },
    "plugins": [
        "mocha"
    ],
    "extends": [
        "../.eslintrc",
        "plugin:mocha/recommended"
    ],
    "overrides": [{
        "files": ["**/*.ts"],
        "extends": ["../src/.eslintrc.js"]
    }],
    "rules": {
        "mocha/no-hooks-for-single-case": "off",
        "mocha/no-setup-in-describe": "off",
        "camelcase": "off",
        "max-len": ["warn", 130],
        "mocha/prefer-arrow-callback": ["error", {
            "allowNamedFunctions": true
        }],
        "padded-blocks": ["error", "never"]
    },
    "parserOptions": {
        "ecmaVersion": 11
    }
}
