target/*
.idea/*
.vscode/*
node_modules/*
*.iml

### Java ###
*.class
!test/javaclasses/*.class

# Package Files #
*.jar
*.war
*.ear

coverage/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

typings/
npm-debug.log

**/typings/**/*.d.ts
**/typings/tsd.cached.json

# TypeScript
*.js.map
lib/

# TSDoc
docs/

*.log

# Mac desktop service store files
*.DS_Store


package-lock.json

# Coverage
.nyc_output/*
coverage
