target/*
.idea/*
.vscode/*
node_modules/*
*.iml
report.xml
coverage.html

### Java ###
*.class
!test/javaclasses/*.class

# Package Files #
*.jar
*.war
*.ear

coverage/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

typings/

**/typings/**/*.d.ts
**/typings/tsd.cached.json

# TypeScript
*.js.map
lib/

# TSDoc
docs/

*.log

# Mac desktop service store files
*.DS_Store

package-lock.json

# Coverage
.nyc_output/*
coverage

# Hazelcast Remote Controller output files
rc_stderr.txt
rc_stdout.txt

# Eslint cache
.eslintcache
