name: Code sample checker
on: pull_request

jobs:
    test-code-samples:
        name: Check code samples
        runs-on: ${{matrix.os}}

        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest ]

        steps:
            - name: Read Java Config
              run: cat .github/java-config.env >> $GITHUB_ENV
            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                java-version: ${{ env.JAVA_VERSION }}
                distribution: ${{ env.JAVA_DISTRIBUTION }}
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 10
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Install dependencies and compile client
              run: |
                  npm install
                  npm run compile
            - name: Check code samples
              run: |
                  npm run check-code-samples
